@inherits LayoutBase

<HeadContent>
    <_Favicons></_Favicons>
</HeadContent>

<div class="main">
    <NavBar></NavBar>
    <main class="main-content">
        <div class="mb-12">
            <Header></Header>
        </div>
        <div class="main-content__inner">
            <div class="main-content__supstring mb-5">
                <SectionOutlet SectionName="SupstringSection" />
            </div>

            <div class="main-content__breadcrumbs mb-5">
                <Breadcrumbs Items="Links"/>
            </div>

            <CascadingValue Value="this">
                @Body
            </CascadingValue>

            



        </div>
        
    </main>
</div>


<article id="mud-providers">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</article>


@code
{
    internal override List<BreadcrumbItem> Links { 
        get => _links; 
        set
        {
            if (_links != value)
            {

                _links = value;
                InvokeAsync(() => StateHasChanged());
            }
        }
    }
}
