@inherits LayoutComponentBase

<HeadContent>
    <_Favicons></_Favicons>
</HeadContent>

<div class="main">
    <NavBar></NavBar>
    <main class="main-content">
        <div class="mb-12">
            <Header></Header>
        </div>
        <div class="main-content__inner">
            <div class="main-content__supstring mb-5">
                <SectionOutlet SectionName="SupstringSection" />
            </div>

            @Body
        </div>
        
    </main>
</div>



<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code{

}
