@page "/project"
@attribute [Authorize(Roles = "Student, Teacher")]
<PageTitle>Проекты</PageTitle>
<SectionContent SectionName="SupstringSection">
    Страница проектов
</SectionContent>

<div class="project">
    <div class="project__inner">
        <ProjectView Id="646425" OnToDetailPage="OnNavigateToDetailPage"></ProjectView>
        <MudCard>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
            <MudCardContent>
                <MudSkeleton Width="30%" Height="42px;" />
                <MudSkeleton Width="80%" />
                <MudSkeleton Width="100%" />
            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-between">
                <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
                <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
            </MudCardActions>
        </MudCard>
        <ProjectView Id="947423" OnToDetailPage="OnNavigateToDetailPage"></ProjectView>
        <ProjectView Id="245352" OnToDetailPage="OnNavigateToDetailPage"></ProjectView>
        <ProjectView Id="132452" OnToDetailPage="OnNavigateToDetailPage"></ProjectView>
        <MudCard>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
            <MudCardContent>
                <MudSkeleton Width="30%" Height="42px;" />
                <MudSkeleton Width="80%" />
                <MudSkeleton Width="100%" />
            </MudCardContent>
            <MudCardActions Class="d-flex justify-space-between">
                <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
                <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
            </MudCardActions>
        </MudCard>
    </div>
</div>
@code {
    [CascadingParameter]
    public LayoutBase? Layout { get; set; }

    protected override void OnInitialized()
    {
        if (Layout is not null)
            Layout.Links = new List<BreadcrumbItem>
            {
                new BreadcrumbItem("Домашняя страница", href: "/", disabled: false),
                new BreadcrumbItem("Проекты", href: "/project", disabled: true),
            };

    }

    public void OnNavigateToDetailPage(int id)
    {
        Navigation.NavigateTo($"/project/detail/{id}");
    }

}