@use 'variables' as var;
@use 'mixins' as mix;

.header {
    background: var.$primary-color;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;

    &--open {
        border-end-end-radius: 0px;
        border-end-start-radius: 0px;
    }

    &__inner {
        padding-left: var.$main-content-padding-horizontal-left;
        padding-right: var.$main-content-padding-horizontal-right;
        display: flex;
        position: inherit;
    }

    &-search {
        display: flex;
        position: relative;
        align-items: center;
        flex: 1;

        &__field {
            height: 99px;
            width: 100%;
            padding-left: 52px;
            font-size: 1.3rem;
            @include mix.montserrat-font(600);
        }

        &__icon {
            position: absolute;
            align-self: center;
            pointer-events: none;
            line-height: 0;
        }
    }


    &-utility {
        display: flex;
        gap: 17px;
        align-items: center;

        &__writer {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    &-list {
        position: absolute;
        width: 100%;
        background-color: var.$primary-color;
        z-index: 2;
        top: 100%;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
        left: 0;
        right: 0;
    }
}
