@use 'variables' as var;
@use 'mixins' as mix;

.header {
    padding-left: var.$main-content-padding-horizontal-left;
    padding-right: var.$main-content-padding-horizontal-right;
    background: var.$primary-color;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &__inner {
        display: flex;
    }

    &-search {
        display: flex;
        position: relative;
        align-items: center;
        flex: 1;

        &__field {
            height: 99px;
            width: 100%;
            padding-left: 52px;
            font-size: 1.3rem;
            @include mix.montserrat-font(600);
        }

        &__icon {
            position: absolute;
            align-self: center;
            pointer-events: none;
            line-height: 0;
        }
    }

    &-utility {
        display: flex;
        gap: 17px;
        align-items: center;

        &__writer {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
}
