@inject NavigationManager Navigation
@inject AuthService AuthService
@inject ISnackbar Snackbar
@inject TokenServerAuthenticationStateProvider AuthenticationStateProvider

<div class="header">
    <div class="header__inner">
        <div class="header-search">
            <input type="text" class="header-search__field" placeholder="Поиск..."/>
            <img src="/icons/search.svg" alt="Поиск" class="header-search__icon" />
        </div>
        <div class="header-utility">
            <div class="header-utility__reader">
                <MudTooltip Text="Уведомления" >
                    <MudBadge Color="Color.Info" Content="6" Overlap="true">
                        <MudIcon Icon="@Icons.Material.Sharp.Notifications" Color="Color.Error" Size="Size.Large"></MudIcon>
                    </MudBadge>
                </MudTooltip>
                <MudTooltip Text="Письма от пользователей">
                    <MudBadge Color="Color.Info" Content="42" Overlap="true">
                        <MudIcon Icon="@Icons.Material.Sharp.Email" Color="Color.Error" Size="Size.Large"></MudIcon>
                    </MudBadge>
                </MudTooltip>

            </div>
            <span class="vertical-red-line"></span>
            <div class="header-utility__writer" >
                <MudTooltip Text="Действия с аккаунтом">
                    <MudMenu AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudAvatar Color="Color.Info" Variant="Variant.Filled">
                                <MudIcon Color="Color.Secondary" Icon="@Icons.Material.Filled.Favorite" Size="Size.Large" />
                            </MudAvatar>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem Href="/account">Профиль</MudMenuItem>
                            <MudMenuItem>Тариф</MudMenuItem>
                            <MudMenuItem @onclick="Logout">Выйти из аккаунта</MudMenuItem>
                        </ChildContent>
                    </MudMenu>

                </MudTooltip>
            </div>
        </div>
    </div>
</div>

@code {

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Snackbar.Add("Выход из системы успешно выполнен!", Severity.Info);
        Navigation.NavigateTo("/authorize/login");

    }
}
