<div class="navbar" @attributes="AttributesNavBar">
    <MudPaper Elevation="0" Height="100%" Style="background-color: #131F73">
        <div class="navbar-header">
            <div class="navbar-header__inner">
                <div class="navbar-header__logo">
                    <img src="/images/logo.png" />
                </div>
                <div class="navbar-header__toggle" @onclick="ToggleNavbarAsync">
                    <img src="/icons/menu-burger.svg" />
                </div>
            </div>
        </div>
          <MudNavMenu >
            <MudNavLink Href="/" Class="navbar__item">
                Главная страница
            </MudNavLink>
            <MudNavLink Href="/" Class="navbar__item">
                Доска Dashboard
            </MudNavLink>
            <AuthorizeView Roles="@string.Format("{0},{1}",@UserRoles.Student.ToString(),@UserRoles.Teacher.ToString())">
                <MudNavGroup Title="Проекты" Class="navbar__item">
                    <MudNavLink Href="/project" Class="navbar__item">
                        Список
                    </MudNavLink>
                </MudNavGroup>
            </AuthorizeView>

            <AuthorizeView Roles="@UserRoles.Admin.ToString()" >
                <MudNavLink Href="/" Class="navbar__item">
                    Настройки
                </MudNavLink>
            </AuthorizeView>
            <MudNavLink Href="/" Class="navbar__item">
                Аккаунт
            </MudNavLink>


        </MudNavMenu>

        <div class="navbar-open" @onclick="ToggleNavbarAsync">
            <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Size="Size.Large"></MudIcon>
        </div>


    </MudPaper>
</div>


@code {

    [Parameter]
    public EventCallback<bool> OnToggleNavbar { get; set; }

    private bool OpenedNavBar { get; set; } = true;



    private async void ToggleNavbarAsync(MouseEventArgs e)
    {
        OpenedNavBar = !OpenedNavBar;
        await OnToggleNavbar.InvokeAsync(OpenedNavBar);
    }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?> AttributesNavBar { get; set; } = new();

}
