@use 'variables' as var;
@use 'mixins' as mix;

.navbar {
    ::deep &__item {
        color: #FFFFFF;
        height: 55px;

        & > a {
            color: inherit !important;
            background-color: inherit !important;
        }
    }

    ::deep &__group {
        color: #FFFFFF;
        & > button.mud-nav-link{
            height:55px;
        }
    }

    & ::deep .mud-nav-link-text {
        white-space: nowrap;
    }
}
.navbar {
    transition: 0.5s;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    width: var.$navbar-size;

    &--closed {
        transform: translateX(- var.$navbar-size);

        .navbar-open {
            visibility: visible;
            opacity: 1;
        }
    }

    &--opened {
        transform: translateY(0);

        .navbar-open {
            visibility: hidden;
            opacity: 0;
        }
    }


    &-header {
        height: 99px;
        background-color: #FFFFFF;

        &__inner {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px 0 24px;
        }

        &__logo {
            height:60%;
            & > img{
                height:100%;
            }
        }

        &__toggle {
            cursor: pointer;
        }
    }

    &-open {
        position: absolute;
        width: 4rem;
        cursor: pointer;
        height: 8rem;
        background-color: var.$primary-color;
        left: 100%;
        top: 50%;
        transform:translateY(-50%);
        @include mix.half-circle(right);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    }
}