@use 'mixins' as mix;

.textarea {
    &__control, &__control:focus, &__control:hover {
        @include mix.montserrat-font(400);
        font-size: 1.2rem;
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.26);
        border-radius: 5px;
        padding: 19px 21px;
        width: 100%;
        resize: none;


        &:placeholder-shown {
            color: #b2b2b7;
            background: rgba(221, 222, 238, 0.5);
            border: 1px solid transparent;
        }

        &:disabled {
            opacity: 0.4;
            background-color: #dddddd;
        }
    }
}