@mixin montserrat-font($weight) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
}

@mixin montserrat-font-style($weight,$style) {
    @include montserrat-font($weight);
    font-style: $style;
}
@mixin half-circle ($direction: right) {
    @if $direction == right {
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    }
    @elseif $direction == left {
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
    }
    @elseif $direction == top {
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    }
    @elseif $direction == bottom {
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
    }
    @else {
        @error 'Please set correct $direction value.'
    }
}