@use 'variables' as var;
@use 'functions' as func;

@mixin montserrat-font($weight) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
}

@mixin montserrat-font-style($weight,$style) {
    @include montserrat-font($weight);
    font-style: $style;
}
@mixin half-circle ($direction: right) {
    @if $direction == right {
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    }
    @else if $direction == left {
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
    }
    @else if $direction == top {
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    }
    @else if $direction == bottom {
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
    }
    @else {
        @error 'Please set correct $direction value.'
    }
}
@mixin media($minmax, $media) {
    @each $size, $resolution in var.$media-sizes {
        @if $media == $size {
            @if ($minmax != "within") {
                @media only screen and (#{$minmax}-width: $resolution) {
                    @content;
                }
            }
            @else {
                @if (index(map-keys(var.$media-sizes), $media) > 1) {
                    @media only screen and (min-width: func.getPreviousSize($media)+1) and (max-width: $resolution) {
                        @content;
                    }
                }
                @else {
                    @media only screen and (max-width: $resolution) {
                        @content;
                    }
                }
            }
        }
    }
}