$primary-color: #FFFFFF;
$main-background-color: #F0F1F3;
$main-font-size: 14px;
$main-content-padding-horizontal-left:29px;
$main-content-padding-horizontal-right:25px;
$main-content-padding-vertical-top: 46px;
$main-content-padding-vertical-bottom: 40px;
$navbar-size: 256px;
$media-sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px,"xll":1400px);