@import 'fonts';
@mixin montserrat-font($weight) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
}

@mixin montserrat-font-style($weight,$style) {
    @include montserrat-font($weight);
    font-style: $style;
}

body {
   @include montserrat-font-style(400,normal);
}
.vertical {
    &-red {
        &-line {
            width: 1px;
            background: #d60a0b; 
        }
    }
}
