@use 'fonts';
@use 'variables' as var;
@use 'mixins' as mix;

html, body {
    background-color: var.$main-background-color;
}

html {
    font-size: var.$main-font-size;
}
body {
   @include mix.montserrat-font-style(400,normal);
}
.vertical {
    &-red {
        &-line {
            width: 1px;
            background: #d60a0b; 
        }
    }
}
