@use 'fonts';
@use 'variables' as var;
@use 'mixins' as mix;

html, body {
    background-color: var.$main-background-color;
    min-height:100vh;
    padding:0;
    margin:0;
}

html {
    font-size: var.$main-font-size;
}
body {
    @include mix.montserrat-font-style(400,normal);

    > div:not([class]) {
        display: none;
    }

    &:has(.components-reconnect-show), &:has(.components-reconnect-failed), &:has(.components-reconnect-rejected) {
        overflow: hidden;
    }
}
input {
    &[type="text"], &[type="text"]:hover, &[type="text"] :focus{
        outline: none;
        border: none;
    }
}
.main {
    display: flex;
    align-items: stretch;
    height: inherit;


    &-content {
        padding-left: var.$main-content-padding-horizontal-left;
        padding-right: var.$main-content-padding-horizontal-right;
        padding-top: var.$main-content-padding-vertical-top;
        padding-bottom: var.$main-content-padding-vertical-bottom;
        flex: 1;
        transition: margin-left .5s;

        &--shift {
            margin-left: var.$navbar-size;
        }

        &__inner {
            
        }

        &__supstring {
            font-size: 1.6rem;
            font-weight: 600;
            color: #000;
            position: relative;
            display: inline-block;

            &:after {
                content: "";
                width: 25%;
                position: absolute;
                height: 4px;
                background: #fb2f30;
                left: 0;
                bottom: -5px;
            }
        }
    }
}
.vertical {
    &-red {
        &-line {
            width: 1px;
            height:100%;
            background: #d60a0b; 
        }
    }
}
.custom-button {
    font-size: 1.7rem;
    padding: 15px 0;
    text-transform: uppercase;
    border-radius: 5px;
    width:100%;

    &:disabled{
        opacity:0.5;
    }
    &.custom-button-red {
        background: #D60A0B;
        color: #FFFFFF;
    }
}

a {
    &[href^="tel:"],&[href^="mailto:"] {
        text-decoration:underline;
    }
}
.validation {
    &-message {
        font-size: 1rem;
        margin: 5px 0;
        @include mix.montserrat-font(600);
        color: #d60a0b;
    }
}


.loader {
    width: 40px;
    height: 40px;
    border: 3px dotted transparent;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    align-self: center;
    margin: auto;

    &.loader--red {
        border-color: #F00;
    }

    &.loader--white {
        border-color: #FFFFFF;
    }
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #14238A;
    border-style: solid solid dotted;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
} 

