@page "/account"
@attribute [Authorize]
<PageTitle>Аккаунт</PageTitle>
<SectionContent SectionName="SupstringSection">
    Аккаунт с персональной информацией
</SectionContent>
<div class="account">
    <div class="account__inner">
        <div class="account-avatar">
            <MudAvatar Style="height:364px; width:364px;">
                <MudImage Src="/images/avatar.jpg"></MudImage>
            </MudAvatar>
        </div>
        <div class="account-info">
            <div class="account-info-primary">
                <div class="account-info-primary__name">Даниэль Гранта</div>
                <div class="account-info-primary__description">Разнообразный и богатый опыт говорит нам, что современная методология разработки однозначно фиксирует необходимость распределения внутренних резервов и ресурсов. В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие не даёт нам иного выбора, кроме определения модели развития. Современные технологии достигли такого уровня, что высокотехнологичная концепция общественного уклада в значительной степени обусловливает важность кластеризации усилий.</div>
            </div>
            <div class="account-info-secondary">
                <table class="account-info-secondary__table">
                    <thead>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr class="account-info-secondary__table-row">
                            <td class="account-info-secondary__table-row__cell">ID Number:</td>
                            <td class="account-info-secondary__table-row__cell">22</td>
                        </tr>
                        <tr class="account-info-secondary__table-row">
                            <td class="account-info-secondary__table-row__cell">Gender:</td>
                            <td class="account-info-secondary__table-row__cell">Мужской</td>
                        </tr>
                        <tr class="account-info-secondary__table-row">
                            <td class="account-info-secondary__table-row__cell">Religion:</td>
                            <td class="account-info-secondary__table-row__cell">Христианство</td>
                        </tr>
                        <tr class="account-info-secondary__table-row">
                            <td class="account-info-secondary__table-row__cell">Admission Date:</td>
                            <td class="account-info-secondary__table-row__cell">07.08.2019</td>
                        </tr>
                        <tr class="account-info-secondary__table-row">
                            <td class="account-info-secondary__table-row__cell">Class:</td>
                            <td class="account-info-secondary__table-row__cell">2</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public LayoutBase? Layout { get; set; }

    protected override void OnInitialized()
    {
        if (Layout is not null)
            Layout.Links = new List<BreadcrumbItem>
            {
                new BreadcrumbItem("Домашняя страница", href: "/", disabled: false),
                new BreadcrumbItem("Аккаунт", href: "/account", disabled: true),
            };

    }


}
