@use 'mixins' as mix;

::deep .request {
    cursor:pointer;
    transition:background-color 0.2s linear;
    &:hover{
        background-color:#EFEFEF;
    }
    &__title {
        @include mix.montserrat-font(700);
        font-size: 1.6rem;
    }

    &__data {
        @include mix.montserrat-font(500);
        font-size: 1.2rem;
    }
}