.header__inner {
  display: flex;
  gap: 30px;
}
.header-search {
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
}
.header-search__field {
  height: 99px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  width: 100%;
}
.header-search__icon {
  position: absolute;
}
.header-utility {
  display: flex;
}
.header-utility__reader {
  display: flex;
  gap: 10px;
}
.header-utility__reader > img {
  cursor: pointer;
}
