<div class="header">
    <div class="header__inner">
        <div class="header-search">
            <input type="text" class="header-search__field" />
            <img src="/icons/search.svg" alt="Поиск" class="header-search__icon" />
        </div>

        <MudAvatar Color="Color.Warning" Variant="Variant.Filled">
            <MudIcon Color="Color.Dark" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Large" />
        </MudAvatar>
        <img src="/icons/notification.svg" alt="Уведомления для вашего аккаунта" />
        <img src="/icons/email.svg" alt="Письма для вашего аккаунта" />
    </div>
</div>

@code {

}
