<div class="header">
    <div class="header__inner">
        <input type="text"/>
        <img src="/icons/search.svg" alt="Поиск" />
        <MudAvatar Color="Color.Warning" Variant="Variant.Filled">
            <MudIcon Color="Color.Dark" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Large" />
        </MudAvatar>
        <img src="/icons/notification.svg" alt="Уведомления для вашего аккаунта" />
        <img src="/icons/email.svg" alt="Письма для вашего аккаунта" />
    </div>
</div>

@code {

}
