@use '/wwwroot/scss/variables.scss' as var;


.header {
    &__inner {
        display: flex;
        gap: 30px;
    }

    &-search {
        display: flex;
        position: relative;
        align-items: center;
        flex: 1;

        &__field {
            height: 99px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
            background: var.$primary-color;
            width: 100%;
        }

        &__icon {
            position: absolute;
        }
    }
    &-utility{
        display:flex;
        &__reader{
            display:flex;
            gap:10px;
            & > img{
                cursor:pointer;
            }
        }
        &__writer{

        }
    }
}
